<% if (games.length > 0) { %>
  <table class="gamesList">
    <tr>
      <th>Game</th>
      <th>Moves</th>
      <th>Grid</th>
      <th>Winner</th>
      <th>Times Played</th>
      <th>First Played</th>
      <th>Most Recently Played</th>
    </tr>
    <% games.forEach(function(game) { %>
      <tr>
        <td class="gameCell"><%= game.id %></td>
        <td class="gameCell"><%= game.moves %></td>
        <td class="gameCell">
          <table class="grid">
            <% for (let i = 0; i < 3; i++) { %>
              <tr>
              <% for (let j = 0; j < 3; j++) { %>
                <% let curSquare = game.moves.indexOf(i*3+j) %>
                <% if (curSquare != -1) { %>
                  <% if (curSquare % 2 === 0) { %>
                  <td class="square squareX">X</td>
                  <% } else { %>
                  <td class="square squareO">O</td>
                  <% } %>
                <% } else { %>
                <td class="square">&nbsp;</td>
                <% } %>
              <% } %>
              </tr>
            <% } %>
          </table>
        </td>
        <td class="gameCell"><%= game.winner %></td>
        <td class="gameCell"><%= game.timesPlayed %></td>
        <td class="gameCell">
          <%= moment(game.createdAt).format('MMMM D YYYY') %><br/>
          <%= moment(game.createdAt).format('h:mm:ss a') %>
        </td>
        <td class="gameCell">
          <%= moment(game.updatedAt).format('MMMM D YYYY') %><br/>
          <%= moment(game.updatedAt).format('h:mm:ss a') %>
        </td>
      </tr>
    <% }); %>
  </table>
<% } %>